:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --blue-color: #2196f3;
  --gray-color: #757575;
  --wall-color: #2f303a;
  --team-color: #f5f4fa;
  --navi-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  background: var(--white-color);
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
  list-style-type: none;
  text-decoration: none;
}
.logo-blue {
  color: var(--blue-color);
}
.menu-list{
  list-style-type: none;
}
.menu-link{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--wall-color);
}
.contact-list{
  list-style-type: none;
}
.contact-link{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--gray-color);
}
.menu-link:hover,
.menu-list:focus,
.menu-link:active{
  color: var(--blue-color);
}

.face {
  background: var(--wall-color);
}
.face-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.face-click {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.wall-list {
  list-style-type: none;
}
.wall-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.wall-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.work-describe {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.work-album {
  list-style-type: none;
}
.team {
  background: var(--team-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.team-list {
  list-style-type: none;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
}
.bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background: var(--black-color);
}
.bottom-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
}
.logo-blue {
  color: var(--blue-color);
}
.adress-text {
  color: var(--white-color);
}
.adress-link {
  color: var(--navi-color);
  text-decoration: none;
}
.offert-list {
  list-style-type: none;
}
.ofert-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.offert-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.click {
  cursor: pointer;
}
.button {
  cursor: pointer;
  background: var( --team-color);
  border-radius: 1px;
  border: none; 
  padding: 10px 14px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
}
.button:hover {
background-color: var( --blue-color);
color: var(--white-color);
}